#player-select {
	max-width: 300px;
	padding: 100px 0 !important;
	.player {
		.v-input {
			&.error--text input::placeholder {
				color: map-get($red, 'lighten-3');
			}
		}
	}
}

.wiggle-container {
	&:nth-child(even) > * {
		animation: wiggle1 0.4s infinite !important;
	}
	&:nth-child(odd) > * {
		animation: wiggle2 0.4s infinite !important;
	}
}

@keyframes wiggle1 {
	0% { transform: rotate(-0.25deg); animation-timing-function: ease-in; }
    50% { transform: rotate(0.5deg); animation-timing-function: ease-out; }
}
@keyframes wiggle2 {
	0% { transform: rotate(0.25deg); animation-timing-function: ease-in; }
    50% { transform: rotate(-0.5deg); animation-timing-function: ease-out; }
}