@import 'variables';
@import 'playerSelect';

@mixin default-gradient {
	background: linear-gradient(120deg, $primary 0%, $secondary 100%);
}

.gradient-text {
	@include default-gradient;
  	-webkit-background-clip: text !important;
  	-webkit-text-fill-color: transparent !important;
}

.v-btn {
	font-weight: bold;
}

.has-shadow {
	-webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

#app {
	.background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include default-gradient;
	}

	.v-toolbar {
		background: $white !important;
		border: none !important;
		height: 56px !important;
		transition: all 0.3s ease;
		&::before {
			position: absolute;
			left: -10%;
			top: 30%;
			content: '';
			width: 120%;
			border-radius: 50%;
			height: 100%;
			background: $white;
			transition: all 0.3s ease;
		}
		.v-toolbar__title {
			font-weight: bold;
			color: $text-color;
		}
	}

	&.is-playing {
		.v-toolbar {
			height: 190px !important;
			&::before {
				height: 75%;
				top: 62.5%;
			}
		}
		&.is-battling {
			.v-toolbar {
				height: 38% !important;
				&::before {
					height: 55%;
					top: 83.5%;
				}
			}
		}
	}
}

#max-throws {
	text-transform: lowercase;
	border-radius: 4px;
	height: 38px;
	width: 38px;
	margin-left: -7px;
	margin-right: 5px;
}

#game {
	position: fixed;
	top: 56px;
	left: 0;
	height: calc(100% - 56px);
	width: 100%;
	z-index: 100;
}

.dices-container {
	position: absolute;
	bottom: calc(100% - 260px);
	width: 100%;
	max-height: 260px;
	display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    overflow: hidden;
    padding-bottom: 10px;
	.dices {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		.dice {
			margin: 0 4%;
		}
		+ .dices {
			opacity: 0.6;
			margin-bottom: 6px;
			.dice {
				width: 13%;
				padding-bottom: 13%;
			}
			+ .dices {
				.dice {
					width: 10%;
					padding-bottom: 10%;
				}
				+ .dices {
					.dice {
						width: 7%;
						padding-bottom: 7%;
					}
					+ .dices {
						.dice {
							width: 5%;
							padding-bottom: 5%;
						}
					}
				}
			}
		}
	}
}

.dice {
	position: relative;
	width: 30%;
	height: 0px;
	padding-bottom: 30%;
	background: $white;
	border-radius: 8%;
	display: inline-block;
	vertical-align: top;
	animation: 0.4s ease-out 0s 1 throw-dice;
	&.keep {
		.eyes-wrapper {
			@include default-gradient;
		}
	}
	&.empty::after {
		content: '?';
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -30px;
		line-height: 60px;
		width: 100%;
		text-align: center;
		@include default-gradient;
	  	-webkit-background-clip: text !important;
	  	-webkit-text-fill-color: transparent !important;
	  	font-size: 30px;
	  	font-weight: bold;
	}
	.eyes-wrapper {
		position: absolute;
		left: 0;
		top: 0;
		padding: 5%;
		height: 100%;
		width: 100%;
		border-radius: 4%;
		.eyes {
			display: flex;
			flex-wrap: wrap;
			height: 100%;
			width: 100%;
			padding: 5%;
			background: $white;
			> span {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 33.33%;
				> span {
					display: block;
					width: 50%;
					height: 50%;
					border-radius: 50%;
					@include default-gradient;
				}
			}
		}
	}
}

@keyframes throw-dice {
  	0% {
    	transform: translateX(-10%) translateY(-10%) rotate(-4deg);
    	opacity: 0.6;
  	}
  	100% {
   		transform: translateX(0) translateY(0) rotate(0deg);
   		opacity: 1;
  	}
}

.totals-container {
	position: absolute;
	top: 260px;
	width: 100%;
	height: calc(100% - 260px);
	.current-total {
		position: absolute;
		top: 5px;
		width: 200px;
		left: 50%;
		margin-left: -100px;
		color: $white;
		font-weight: bold;
		text-align: center;
		font-size: 75px;
		&.empty {
			height: 1px;
			width: 1px;
			margin-left: 0;
			margin-top: 50px;
			animation: shadow-pulse 2s infinite;
			border-radius: 50%;
			&::before {
				position: absolute;
				content: '';
				height: 1px;
				width: 1px;
				animation: shadow-pulse-small 2s infinite;
				border-radius: 50%;
			}
		}
	}

	.total {
		position: absolute;
		color: $white;
		font-size: 22px;
		line-height: 25px;
		font-weight: bold;
		display: flex;
		align-items: center;
		.icon {
			height: 30px;
			width: 30px;
			+ .text {
				margin-left: 7px;
			}
		}
		.text + .icon {
			margin-left: 7px;
		}
	}

	.mex-total {
		left: 16%;
		margin-left: 5px;		
		.icon {
			content: url('../assets/sombrero.svg');
		}
	}

	.lowest-total {
		right: 16%;
		margin-left: 5px;		
		.icon {
			content: url('../assets/tombstone.svg');
		}
	}

	.knight {
		position: absolute;
		bottom: 20px;
		left: 20px;
		color: $white;
		font-size: 20px;
		line-height: 35px;
		font-weight: bold;
		display: flex;
		align-items: center;
		.icon {
			content: url('../assets/knight.svg');
			height: 35px;
			width: 35px;
		}
		.text {
			margin-left: 15px;
			width: 70%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}

@keyframes shadow-pulse {
  	0% { box-shadow: 0 0 0 0px rgba(255,255,255, 0.6); background: rgba(255,255,255, 0.6); }
  	40% { box-shadow: 0 0 0 30px rgba(255,255,255, 0); background: rgba(255,255,255, 0); }
}

@keyframes shadow-pulse-small {
  	0% { box-shadow: 0 0 0 0px rgba(255,255,255, 1); background: rgba(255,255,255, 1); }
  	30% { box-shadow: 0 0 0 15px rgba(255,255,255, 0); background: rgba(255,255,255, 0); }
}

@media screen and (min-width: 400px) {
	.dices-container, .totals-container {
		width: 400px;
		left: 50%;
		margin-left: -200px;
	}
}

.next-dialog, .finished-dialog, .popup-dialog {
	z-index: 200;
	&::before {
		position: fixed;
		content: '';
		top: 0;
		left: 0;
		background: #000;
		opacity: 0.2;
		width: 100%;
		height: 100%;
	}
	.content {
		position: fixed;
		background: $white;
		top: 435px;
		left: 0;
		width: 100%;
		text-align: center;
		.title {
			position: absolute;
			text-align: center;
			text-transform: uppercase;
			bottom: 100%;
			left: 0;
			display: block;
			color: $white;
			font-weight: bold;
			line-height: 15px;
			font-size: 40px;
			width: 100%;
		}
		.text {
			padding: 6px 0;
			display: block;
			text-align: center;
			font-weight: bold;
			text-align: center;
			font-size: 30px;
		    white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    left: 5%;
		    position: relative;
		    width: 90%;
			+ .text {
				margin-top: -6px;
				padding-top: 0;
				font-size: 20px;
				color: $text-color;
			}
		}
		.button {
			position: relative;
			width: 400px;
			max-width: 90%;
			@include default-gradient;
			color: #fff;
			margin: 20px 0;
			height: 50px;
		}
	}
}

#player-battle {
	position: fixed;
	top: 0;
	left: 0;
	height: calc(100% - 56px);
	width: 100%;
	z-index: 100;
	text-align: center;
	.dice {
		position: absolute;
		top: 50%;
		left: 35%;
	}
	.first-dice {		
		margin-top: -225px;
	}
	.second-dice {
		margin-top: 190px;
	}
	.name {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		text-align: center;
		font-weight: bold;
		font-size: 30px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.first-name {
		margin-top: -50px;
		color: $text-color;
	}
	.second-name {
		margin-top: 80px;
		color: $white;
	}
}

#app.is-battling .popup-dialog .content {
	top: 50%;
	margin-top: -18px;
}