$primary: #7665f9;
$secondary: #65c3f9;
$white: #fff;
$text-color: #414142;
$body-font-family: 'Open Sans', sans-serif;

$purple: (
	'base': $primary
);

$blue: (
	'base': $secondary
);

@import '~vuetify/src/styles/settings/_variables.scss';
@import '~vuetify/src/styles/settings/_colors.scss';